.cl-header {
    background-color: #C1CCFF;
}

button {
    background-color: #C1CCFF;
    color: #0C1E71;
    font-weight: bold;
    padding: 5px;
    padding-right: 8px;
    font-size: 16px;
    border: 2px solid #0C1E71;
    border-radius: 5px;
}

form {
    min-width: 80%;
    max-width: 90%
}

.form-control {
    display: block;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

td, th {
    text-align: left;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 5px;
}

.nav {
    font-weight: bold;
    text-align: center;
}

a {
    color: black;
}

body {
    background-color: #F7F7F7;
    color: #1C1C1C;
    padding: 1%;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: helvetica;
    font-size: 18px;
}

.main {
    border: 2px solid #000000;
    padding: 2%;
    margin: 3%;
    font-weight: bold;
    border-radius: 10px;
}

